{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    {% if author.avatar contains "://" %}
    	<img src="{{ author.avatar }}" alt="{{ author.name }}">
    {% else %}
    	<img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}">
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.bio %}<a href="https://www.dropbox.com/scl/fi/uvn2x7aa1jkqgq52wn1k7/jinyeying_AIGC.pdf?rlkey=5llwydam7wkvzxdpgxvfla6oc&st=hhiotofq&dl=0"><p class="author__bio">{{ author.bio }}</p></a>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">Follow</button>
    <ul class="author__urls social-icons">
      {% if author.email %}
       <li><a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i> jinyeying@u.nus.edu</a></li>
      {% endif %}
      {% if author.googlescholar %}
        <li><a href="{{ author.googlescholar }}"><i class="fas fa-fw fa-graduation-cap"></i> Google Scholar</a></li>
      {% endif %}
      {% if author.github %}
        <li><a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i> Github</a></li>
      {% endif %}
      {% if author.linkedin %}
        <li><a href="https://www.linkedin.com/in/{{ author.linkedin }}"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
      {% endif %}
      {% if author.dblp %}
        <li><a href="{{ author.dblp }}"><i class="ai ai-dblp ai-fw" aria-hidden="true"></i> DBLP</a></li>
      {% endif %}
      {% if author.orcid %}
        <li><a href="{{ author.orcid }}"><i class="ai ai-orcid-square ai-fw"></i> ORCID</a></li>
      {% endif %}
      {% if author.uri %}
        <li><a href="https://www.zhihu.com/people/jinyeying"><i class="fas fa-fw fa-link" aria-hidden="true"></i> Zhihu</a></li>
      {% endif %}
      {% if author.instagram %}
        <li><a href="https://www.xiaohongshu.com/user/profile/59827db36a6a69581405263a"><i class="fab fa-fw fa-instagram" aria-hidden="true"></i> Xiaohongshu</a></li>
      {% endif %}
      {% if author.bilibili %}
        <li><a href="https://space.bilibili.com/208940015"><i class="fab fa-fw fa-youtube" aria-hidden="true"></i> Bilibili</a></li>
      {% endif %}
    </ul>
  </div>
</div>
